<div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
      <mat-card-title>Signup</mat-card-title>
    </div>

    <form class="form-body" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field class="justifier">
        <input
          matInput
          placeholder="Name"
          text="name"
          class="form-input"
          formControlName="name"
        />
        <mat-error *ngIf="form.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="justifier">
        <input
          matInput
          placeholder="Email"
          text="email"
          class="form-input"
          formControlName="email"
        />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field class="justifier">
        <input
          matInput
          type="password"
          placeholder="Password"
          text="password"
          class="form-input"
          formControlName="password"
        />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('pattern')">
          Password must be alphanumeric and at least 6 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field class="justifier">
        <input
          matInput
          type="password"
          placeholder="Confirm password"
          text="confirm password"
          class="form-input"
          formControlName="confirmPassword"
        />
        <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
          Confirm Password is required
        </mat-error>
        <mat-error *ngIf="form.get('confirmPassword')?.hasError('passwordMismatch') && form.get('confirmPassword')?.touched">
            Passwords do not match
          </mat-error>
          
      </mat-form-field>

      <div class="form-footer">
        <button
          mat-raised-button
          class="btn custom-btn"
          [disabled]="form.invalid"
        >
          <mat-icon>add</mat-icon> Signup
        </button>
      </div>
    </form>
    <div class="additional-link">
      <a routerLink="/login">Already have an Account? <strong>Login</strong></a>
    </div>
  </div>
</div>
