.forgot-password-container {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #b24603;
  border-radius: 4px;
  max-width: 450px;
}
.message {
  background-color: #fffaf6;
  border-color: #fa9f47;
  color: #b24603;
}
.forget-container {
  display: flex;
  justify-content: center;
}
