mat-sidenav-content {
  height: calc(100vh - 63px);
}
.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.responsive {
  display: flex;
  align-items: center;
  gap: 8px;
}
